


<h1>Premier League Football Database</h1>

<h2>Administrator GUI Prototype</h2>

<h3>Queries List</h3>

<a href = '/query10'>All Teams That Have Played in the Premier League 2002-2021</a>
<br>
<a href = '/query1'>Final League Standings by Season</a>
<br>
<a href = '/query2'>Team Information</a>
<br>
<a href = '/query3'>Best players per season by individual statistic</a>
<br>
<a href = '/query4'>Top # of stats leaders in a year</a>
<br>
<a href = '/query5'>Stored procedure: Get all player history for important stats</a>
<br>
<a href = '/query6'>Stored procedure: Get advanced player information for given year</a>
<br>
<a href = '/query7'>Stored procedure: Get seasonal record of team from a specific player and season</a>
<br>
<a href = '/query8'>Insert New Squad statistic</a>
<br>
<a href = '/query9'>Team Stats By Year</a>