<html>
    <h1>Insert New Squad statistic</h1>
    <form action = "" method = 'POST'>
        Season <input type= 'text' name = 'season' value = "0"/>
        <br>
        Team Name <input type = 'text' name = 'squad' value = "Arsenal"/>
        <br>
        Roster Size <input type = 'text' name = 'numplayers' value = "0"/>
        <br>
        Age <input type = 'text' name = 'age' value = "0"/>
        <br>
        Possession Time <input type = 'text' name = 'poss' value = "0"/>
        <br>
        Minutes <input type = 'text' name = 'min' value = "0"/>
        <br>
        Ninety <input type = 'text' name = 'ninety' value = "0"/>
        <br>
        Goals <input type = 'text' name = 'Gls' value = "0"/>
        <br>
        Assists <input type = 'text' name = 'Ast' value = "0"/>
        <br>
        <input type = "submit">
    </form>
    <br>
    <a href = '/'>Back to homepage</a>
</html>